*{ margin: 0; padding:0; }
header{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left,#fff 85%,#c3f5ff 20%);
}
.navsection{
  width:100%;
  height:20vh;
  display:flex;
  justify-content:space-around;
  align-items: center;
  background-image: linear-gradient(to top,#fff 80%,#c3f5ff 20%);
}
.logo{
  width:40%;
  color:BLACK;
  background-image:linear-gradient(#8d98e3 40%,#854fee 60%);
  padding-left:100px;
  box-sizing:border-box;
}
.logo h1{
  text-transform:uppercase;
  font-size:1.6rem;
  animation: ap 2s linear infinite;
  animation-direction:alternate;
}
@keyframes ap{
  from{padding-left:40px;}
  to{padding-right:40px;}
}
nav{
  width:60%;
  display:flex;
  justify-content:space-around;
}
nav a{
  text-decoration:none;
  text-transform:uppercase;
  color:BLACK;
  font-weight:900;
  font-size:17px;
  position:relative;
}
nav a{
  color:#BLACK;
}
nav a:before{
  content:"";
  position:absolute;
  top:100%;
  left:0;
  width:0;
  height:2px;
border-bottom:2px solid #4458dc;
transition:all 0.4s linear;
}
nav a:hover:before{
  width:100%;
}
main{
  height:80vh;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.rightside{
border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
background-color:#e8fbff;
}
.rightside img{
  max-width:600px;
  height:auto;
}
.leftside{
  color:BLACK;
  text-transform:uppercase;
  margin-left:40px;
}
.leftside h3{
  font-size:40px;
  margin-bottom:20px;
  position:relative;
}
.leftside h3:after{
  content:"";
  width:450px;
  height:3px;
  position:absolute;
  top:43%;
  left:23.5%;
  background:#000;
}
.leftside h1{
  margin-top:20px;
  font-size:70px;
  margin-bottom:25px;
}
.leftside h2{
  margin-bottom:35px;
  font-weight:500;
  word-spacing:5px;
}
.leftside .btn1{
  text-decoration:none;
  font-weight:900;
  font-size:14px;
  text-align:center;
  padding:12px 25px;
  cursor:pointer;
  text-transform:uppercase;
  border-radius:500px;
  display:inline-block;
  margin-right:50px;
  color:#fff;
  letter-spacing:0;
  background-image:linear-gradient(to right , #4458dc 0%,#854fee 100%);
  border:double 2px transparent;
  box-shadow:0 10px 30px rgba(118,85,225,0.3);
}
.leftside .btn2{
  text-decoration:none;
  font-weight:900;
  font-size:14px;
  text-align:center;
  padding:12px 25px;
  cursor:pointer;
  text-transform:uppercase;
  border-radius:500px;
  display:inline-block;
  margin-right:50px;
  color:#222;
  letter-spacing:0;
  background-color:#fff;
  border: 2px solid #4458dc;
  box-shadow:none;
}
.leftside .btn1:hover{
  border:2px solid #4458dc;
  color:#222;
  background-color:#fff;
  box-shadow:none;
  background-image:none;
}
.leftside .btn2:hover{
  border:double 2px transparent;
  background-image:linear-gradient(to right , #4458dc 0%,#854fee 100%);
  box-shadow:0 10px 30px rgba(118,85,225,0.3);
    color:#fff;
}
